@import "../base";

/** @define Button */
.Button {
  display: inline-block;
  padding: 1em 2em;
  font-weight: bold;
  color: rgb(var(--default-color));
  background-color: rgb(var(--default-background-color));
  border-radius: 2em;
}
