@import "../base";

/** @define Form */
.Form {
  text-align: center;
}

.Form-input {
  display: inline-block;
  padding: 1em 1.5rem 0.8em;
  border: 2px solid currentColor;
  color: rgb(var(--default-color));
  background-color: rgb(var(--default-background-color));
  border-radius: 2em;
  text-align: left;
  box-shadow: none;
  appearance: none;
}

.Form-input:focus {
  background: #fff;
}

.Form-input:focus-visible {
  outline: 0;
}

.Form-input::placeholder {
  color: currentColor;
}
