@import "../base";

/** @define Welcome */
.Welcome {
  --ease-out: cubic-bezier(0.165, 0.78, 0.44, 1);
  --Welcome-inview: 0;
  --Welcome-offset: 0;
  --Welcome-grow: 2;

  padding: 7rem 0;
  position: relative;
  z-index: 0;
  overflow: hidden;
  text-align: center;
  background-image: linear-gradient(rgb(var(--color-paper-light)) 25%, rgb(var(--color-paper)) 75%, rgb(var(--color-paper-light)));
  background-size: 100% 100%;
  will-change: opacity, transform;
}

@media (min-height: 800px) {
  .Welcome {
    padding-top: 8rem;
  }
}

@media (min-width: 1000px) {
  .Welcome {
    --Welcome-grow: 2.5;
    padding-top: 10rem;
  }
}

@media (min-width: 1400px) {
  .Welcome {
    --Welcome-grow: 3.5;
  }
}

@media (min-width: 1800px) {
  .Welcome {
    --Welcome-grow: 5.5;
  }
}

.Welcome-body {
  text-align: left;
  margin: 0;
  min-height: 60vh;
  opacity: 0;
  transform: translateY(30%);
  animation: Welcome-body--appear 800ms forwards var(--ease-out);
}

.Welcome-body::before,
.Welcome-body::after {
  content: "";
  display: block;
  height: 6vh;
  max-height: 100px;
}

@media (max-width: 600px) and (min-height: 600px) {
  .Welcome-body {
    min-height: 55vh;
  }

  .Welcome-body::before {
    height: 8vh;
  }
}

@keyframes Welcome-body--appear {
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.Welcome-image {
  display: block;
  margin: 3.5rem auto;
  width: 100%;
  height: auto;
  max-width: 650px;
  position: relative;
  z-index: 1;
  opacity: 0;
  transform-origin: 50% 0;
}

.Welcome-image.is-loaded {
  transform: translateY(calc(-10% * var(--Welcome-inview, 0))) scale(calc(1 + var(--Welcome-grow) * (1 - var(--Welcome-inview, 1))));
  animation:
    Welcome-image--appear 450ms 400ms var(--ease-out),
    Welcome-image--fadein 450ms 400ms forwards var(--ease-out);
  will-change: opacity, transform;
}

@keyframes Welcome-image--appear {
  from {
    transform: translateY(18%) scale(calc(1 + var(--Welcome-grow) * (1 - var(--Welcome-inview, 1))));
  }
  to {
    transform: translateY(calc(-10% * var(--Welcome-inview, 0))) scale(calc(1 + var(--Welcome-grow) * (1 - var(--Welcome-inview, 1))));
  }
}

@keyframes Welcome-image--fadein {
  to {
    opacity: 1;
  }
}

.Welcome-background {
  width: 266px;
  height: auto;
  position: absolute;
  right: -4rem;
  top: 2rem;
  z-index: -1;
  opacity: 0;
}

.Welcome-background.is-loaded {
  transform: translateY(calc(40% * var(--Welcome-offset, 0)));
  animation:
    Welcome-background--appear 500ms 200ms var(--ease-out),
    Welcome-background--fadein 500ms 200ms forwards var(--ease-out);
  will-change: opacity, transform;
}

@keyframes Welcome-background--appear {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(calc(75% * var(--Welcome-offset, 0)));
  }
}

@keyframes Welcome-background--fadein {
  to {
    opacity: 1;
  }
}

@media (min-width: 600px) {
  @keyframes Welcome-background--appear {
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

@media (min-width: 1000px) {
  .Welcome-wrapper {
    position: relative;
  }

  .Welcome-background {
    width: 550px;
    top: -11rem;
    right: 0;
  }
}

.Welcome-link {
  opacity: var(--Welcome-inview, 1);
  will-change: opacity;
}
