@import "../base";

/** @define Hero */
.Hero {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  background-color: rgb(var(--color-paper));
}

.Hero::before,
.Hero::after {
  content: "";
  flex: 0 0 10vh;
  max-height: 3rem;
}
