@import "../base";

/** @define Hero */
.Hero {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  position: relative;
  z-index: 0;
  background-color: rgb(var(--color-gray));
}

.Hero::before,
.Hero::after {
  content: "";
  flex: 0 0 10vh;
  max-height: 3rem;
}

.Hero-background {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
