@import "../base";
@import "../text/";

/** @define View */
.View {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.View-main {
  flex: 1 1 auto;
  padding-top: 10rem;
}

.View-main--stack {
  padding-top: 0;
}

.View-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.2rem 0;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  transform: translateX(-50%);
}

.View-footer {
  --current-color: var(--default-background-color);
  --current-background: var(--default-color);
  padding: 3rem 0 2.5rem;
  color: rgb(var(--current-color));
  background-color: rgb(var(--current-background));
}

.View-divider {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  margin: 1.5rem;
  background-color: rgba(var(--current-color), 0.1);
}

.View-credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(var(--current-color), 0.3);
}

@media (min-width: 1000px) {
  .View-divider {
    margin: 2.5rem 0;
  }
}
