@import "../base";

/** @define Features */
.Features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

@media (min-width: 1000px) {
  .Features {
    flex-direction: row;
    align-items: baseline;
  }

  .Features-item {
    flex: 1 1 300px;
  }
}

.Features-item {
  max-width: 550px;
}
