@import "../base";

/** @define Features */
.Features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.Features-item {
  padding: 2.3rem 0;
  max-width: 28rem;
}

@media (min-width: 1000px) {
  .Features {
    flex-direction: row;
    align-items: flex-start;
    margin: 0 -1rem;
    padding: 5rem 0 2rem;
  }

  .Features-item {
    padding: 1rem;
    flex: 1 1 300px;
    max-width: 25rem;
  }
}