@import "../base";

/** @define Logo */
.Logo {
  width: 90px;
  height: 39px;
  user-select: none;
}

.Logo--green {
  color: #04582d;
}

@media (min-width: 1000px) {
  .Logo {
    width: 118px;
    height: 51px;
  }
}

.Logo:active {
  transition: transform 100ms var(--ease-out);
  transform: scale(0.95);
}