@import "../base";

/** @define Text */
.Text {
  width: 100%;
  max-width: 35em;
}

.Text--center {
  margin-left: auto;
  margin-right: auto;
}

.Text--large,
.Text-large {
  font-size: 1.125rem;
}

.Text > :first-child {
  margin-top: 0 !important;
}

.Text > :last-child {
  margin-bottom: 0 !important;
}

.Text-stack {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/**
 * Inline elements
 */

.Text a {
  display: inline-block;
  padding-bottom: 0.2em;
  border-bottom: 1px solid currentColor;
  line-height: 1;
  color: currentColor;
}

.Text small {
  font-size: 0.8em;
}

/**
 * Block elements
 */

.Text p,
.Text ul,
.Text ol {
  margin: 0.8em 0;
}

.Text img,
.Text pre {
  margin: 1.5em 0;
}

.Text img {
  height: auto;
  max-width: 100%;
  background: rgb(var(--color-gray-light));
}

.Text pre {
  max-width: 100%;
  padding: 1.5em;
  overflow: auto;
  font-size: 0.75rem;
  line-height: 1.3;
  text-align: left;
  background: rgb(var(--current-color));
  color: rgb(var(--current-background));
  border-radius: 0.3rem;
}

.Text blockquote {
  font-size: 2em;
  font-weight: bold;
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
}

.Text blockquote::after {
  content: "";
  display: block;
  margin-top: 1em;
  width: 4px;
  height: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

/**
 * Lists
 */

.Text ul {
  list-style-type: none;
}

.Text ol {
  list-style-type: decimal;
  padding-left: 1em;
}

.Text ul > li {
  padding-left: 1.5em;
  position: relative;
}

.Text ol > li {
  padding-left: 0.5em;
}

.Text ul > li::before {
  content: "•";
  font-size: 150%;
  line-height: 1.1em;
  position: absolute;
  left: 0;
  font-weight: bold;
  color: var(--color-theme)
}

.Text li + li {
  padding-top: 1em;
}

.Text dl {
  display: grid;
  grid-template-columns: auto 1fr;
}

@supports (display: grid) {
  .Text dl > dd {
    padding-left: 1em;
    margin: 0;
  }

  .Text dl > dd {
    margin-bottom: 0.25em;
  }
}

/**
 * Details – Summary
 */

.Text summary {
  display: flex;
  justify-content: space-between;
  list-style: none;
  user-select: none;
}

.Text summary::-webkit-details-marker {
  display: none;
}

.Text summary::after {
  content: ">";
  flex: 0 0 auto;
  transition: transform 100ms var(--ease);
  transform-origin: center center;
}

.Text details[open] summary::after {
  transform: rotate(90deg);
}

/**
 * 1. Maintain 16/9 aspect ratio for embedded content
 */

.Text iframe {
  width: 100vw;
  height: calc(100% * 9/16); /* 1 */
  max-width: 100%;
  vertical-align: top;
  user-select: none;
}

/**
 * Headings
 */

.Text h1,
.Text h2,
.Text h3,
.Text h4,
.Text h5,
.Text h6,
.Text .Text-h1,
.Text .Text-h2,
.Text .Text-h3,
.Text .Text-h4,
.Text .Text-h5,
.Text .Text-h6 {
  margin: 0.6em 0 0.8em;
  color: rgb(var(--current-color));
  font-weight: bold;
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
}

.Text h1 a,
.Text h2 a,
.Text h3 a,
.Text h4 a,
.Text h5 a,
.Text h6 a,
.Text .Text-h1 a,
.Text .Text-h2 a,
.Text .Text-h3 a,
.Text .Text-h4 a,
.Text .Text-h5 a,
.Text .Text-h6 a {
  padding-bottom: 0;
  border-bottom: none;
}

.Text h1,
.Text .Text-h1 {
  font-size: 3.5em;
  line-height: 1.1;
}

.Text h2,
.Text .Text-h2 {
  font-size: 2em;
  line-height: 1.1;
}

.Text h3,
.Text .Text-h3 {
  font-size: 1.5em;
  line-height: 1.15;
  margin: 1.5em 0 1em;
}

.Text h4,
.Text .Text-h4 {
  font-size: 1.25em;
  line-height: 1.4;
  margin: 0.4em 0 0.4em;
}

.Text h5,
.Text .Text-h5,
.Text .Text-label {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: inherit;
  letter-spacing: 0.06em;
  margin-left: 0.1em;
}

@media (min-width: 1000px) {
  .Text--large,
  .Text-large {
    font-size: 1rem;
  }

  .Text h1,
  .Text .Text-h1 {
    font-size: 4.5em;
  }

  .Text h3,
  .Text .Text-h3 {
    font-size: 2.4em;
  }

  .Text h4,
  .Text .Text-h4 {
    font-size: 1.6em;
  }

  .Text h5,
  .Text .Text-h5,
  .Text .Text-label {
    font-size: 0.7rem;
  }
}
