@import "../base";

/** @define Text */
.Text {
  max-width: 40rem;
}

.Text--center {
  margin-left: auto;
  margin-right: auto;
}

.Text--muted {
  color: rgba(var(--default-color), 0.7);
}

.Text--large,
.Text-large {
  font-size: 1.125rem;
}

.Text > :first-child {
  margin-top: 0 !important;
}

.Text > :last-child {
  margin-bottom: 0 !important;
}

.Text-stack {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/**
 * Inline elements
 */

.Text a:not(.Text-ignore) {
  display: inline-block;
  padding-bottom: 0.2em;
  border-bottom: 1px solid currentColor;
  line-height: 1;
  color: currentColor;
}

.Text small {
  font-size: 0.8em;
}

/**
 * Block elements
 */

.Text p,
.Text ul,
.Text ol {
  margin: 0.8em 0;
}

.Text img,
.Text pre {
  margin: 1.5em 0;
}

.Text img {
  height: auto;
  max-width: 100%;
  background: rgb(var(--color-gray-light));
}

.Text pre {
  max-width: 100%;
  padding: 1.5em;
  overflow: auto;
  font-size: 0.75rem;
  line-height: 1.3;
  text-align: left;
  background: rgb(var(--current-color));
  color: rgb(var(--current-background));
  border-radius: 0.3rem;
}

.Text blockquote {
  font-size: 2em;
  font-weight: bold;
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
}

.Text blockquote::after {
  content: "";
  display: block;
  margin-top: 1em;
  width: 4px;
  height: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

/**
 * Lists
 */

.Text ul {
  list-style-type: none;
}

.Text ol {
  list-style-type: decimal;
  padding-left: 1em;
}

.Text ul > li {
  padding-left: 1.5em;
  position: relative;
}

.Text ol > li {
  padding-left: 0.5em;
}

.Text ul > li::before {
  content: "•";
  font-size: 150%;
  line-height: 1.1em;
  position: absolute;
  left: 0;
  font-weight: bold;
  color: var(--color-theme);
}

.Text li + li {
  padding-top: 1em;
}

.Text dl {
  display: grid;
  grid-template-columns: auto 1fr;
}

@supports (display: grid) {
  .Text dl > dd {
    padding-left: 1em;
    margin: 0;
  }

  .Text dl > dd {
    margin-bottom: 0.25em;
  }
}

/**
 * Details – Summary
 */

.Text details {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-width: 0 0 1px 0;
  cursor: default;
  outline: 0;
}

.Text details:first-of-type {
  border-top-width: 1px;
}

.Text summary {
  display: flex;
  justify-content: space-between;
  list-style: none;
  user-select: none;
  padding: 1.4rem 0;
  outline: 0;
}

.Text summary::-webkit-details-marker {
  display: none;
}

.Text summary::after {
  content: "";
  position: relative;
  top: 0.2rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
  background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20height%3D%228%22%20viewBox%3D%220%200%2014%208%22%20width%3D%2214%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m1078%20663v-7c0-.552285.44772-1%201-1s1%20.447715%201%201v8c0%20.552285-.44772%201-1%201h-8c-.55228%200-1-.447715-1-1s.44772-1%201-1z%22%20fill%3D%22%230f1a26%22%20transform%3D%22matrix(.70710678%20.70710678%20-.70710678%20.70710678%20-286.449314%20-1225.830265)%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
  flex: 0 0 auto;
  transition: transform 200ms var(--ease);
  transform-origin: center center;
}

.Text details[open] summary::after {
  transform: rotate(180deg);
}

.Text details[open] {
  padding-bottom: 1.4rem;
}

/**
 * 1. Maintain 16/9 aspect ratio for embedded content
 */

.Text iframe {
  width: 100vw;
  height: calc(100% * 9/16); /* 1 */
  max-width: 100%;
  vertical-align: top;
  user-select: none;
}

/**
 * Headings
 */

.Text h1,
.Text h2,
.Text h3,
.Text h4,
.Text h5,
.Text h6,
.Text .Text-h1,
.Text .Text-h2,
.Text .Text-h3,
.Text .Text-h4,
.Text .Text-h5,
.Text .Text-h6 {
  margin: 0.6em 0 0.8em;
  color: rgb(var(--current-color));
  font-weight: bold;
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
}

.Text h1 a,
.Text h2 a,
.Text h3 a,
.Text h4 a,
.Text h5 a,
.Text h6 a,
.Text .Text-h1 a,
.Text .Text-h2 a,
.Text .Text-h3 a,
.Text .Text-h4 a,
.Text .Text-h5 a,
.Text .Text-h6 a {
  padding-bottom: 0;
  border-bottom: none;
  line-height: inherit;
}

.Text h1,
.Text .Text-h1 {
  font-size: 3.5em;
  line-height: 1.1;
}

.Text h2,
.Text .Text-h2 {
  font-size: 2em;
  line-height: 1.1;
}

.Text h3,
.Text .Text-h3 {
  font-size: 1.5em;
  line-height: 1.15;
  margin: 1.5em 0 1em;
}

.Text h4,
.Text .Text-h4 {
  font-size: 1.25em;
  line-height: 1.4;
  margin: 0.4em 0 0.4em;
}

.Text h5,
.Text .Text-h5,
.Text .Text-label {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: inherit;
  letter-spacing: 0.06em;
  margin-left: 0.1em;
}

@media (min-width: 1000px) {
  .Text--large,
  .Text-large {
    font-size: 1rem;
  }

  .Text h1,
  .Text .Text-h1 {
    font-size: 4.5em;
  }

  .Text h3,
  .Text .Text-h3 {
    font-size: 1.8em;
  }

  .Text h4,
  .Text .Text-h4 {
    font-size: 1.6em;
  }

  .Text h5,
  .Text .Text-h5,
  .Text .Text-label {
    font-size: 0.7rem;
  }
}
