/* @define utilities */

/**
 * Alters the custom properties:
 * --current-background
 * --current-color
 */

.u-colorCurrent { color: rgb(var(--current-color)) !important; }
.u-bgCurrent { background: rgb(var(--current-background)) !important; }

.u-bgWhite { --current-background: 255, 255, 255 !important; }
.u-colorWhite { --current-color: 255, 255, 255 !important; }
.u-bgBlack { --current-background: 0, 0, 0 !important; }
.u-colorBlack { --current-color: 0, 0, 0 !important; }

.u-bgGray { --current-background: var(--color-gray) !important; }
.u-colorGray { --current-color: var(--color-gray) !important; }

.u-colorPaper { --current-color: var(--color-paper) !important; }
.u-bgPaper { --current-color: var(--color-paper) !important; }
.u-colorPaperLight { --current-color: var(--color-paper-light) !important; }
.u-bgPaperLight { --current-color: var(--color-paper-light) !important; }
