/* @define utilities */
.u-loading,
.u-loadingOnGray,
.u-loadingOnColor {
  background: rgba(var(--color-gray), 0.4) !important;
  display: inline !important;
  color: transparent !important;
  user-select: none !important;
}

.u-loadingOnColor {
  box-shadow: none !important;
  background: rgba(255, 255, 255, 0.3) !important;
}
