@import "../base";

/** @define Float */
.Float {
  position: relative;
  top: -15vw;
  margin-bottom: -15vw;
  overflow: hidden;
}

.Float-image {
  float: right;
  max-width: 100vw;
  position: relative;
  right: -5%;
  z-index: 1;
}

@media (min-width: 1000px) {
  .Float-image {
    left: 0;
  }
}
