@import "../base";

/** @define Float */
.Float {
  float: right;
  position: relative;
  top: -125px;
  text-align: right;
}

@media (max-width: 999px) {
  .Float {
    float: none;
    top: -65px;
    margin-bottom: -125px;
  }
}

.Float-image {
  max-width: 100vw;
  position: relative;
  right: -5%;
  z-index: 1;
}

@media (min-width: 1000px) {
  .Float-image {
    float: right;
  }
}
