@import "../base";

/** @define Menu */
.Menu {
  display: flex;
  font-size: 1rem;
  margin: 0 -0.5rem;
}

@media (min-width: 40rem) {
  .Menu {
    font-size: 1rem;
  }
}

.Menu-item {
  display: block;
  position: relative;
  margin: 0 0.4em;
}

.Menu-link {
  display: inline-block;
}

.Menu-link::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.Menu:not(.Menu--column) .Menu-link {
  border-bottom: 1px solid currentColor;
}

@media (max-width: 999px) {
  .Menu--column {
    flex-direction: column;
    margin: 0 0 2.5rem;
  }

  .Menu--column .Menu-item {
    margin: 0.4em 0;
  }
}

@media (min-width: 1000px) {
  .Menu {
    margin: 0 -0.8rem;
  }

  .Menu-item {
    margin: 0 0.8em;
  }
}

.Menu--row {
  flex-direction: row;
}

.Menu--right {
  align-items: flex-end;
  justify-content: flex-end;
}
